// ==========================================================================
// BASELAYER SETTINGS
//
// Description: settings for the baselayer framework
// ==========================================================================


// ==========================================================================
// HACKS & OVERIDES
// ==========================================================================

// This is a flag which is set to "true" by master-ie.scss
// This allows us to target specifically IE within Sass files
$is-oldie: 						false !default;

// Highlights any potential markup/accessibility problems
$debug-mode:					false !default;


// ==========================================================================
// ASSET PATHS
// ==========================================================================

$css_dir: 						"../css" !default;
$sass_dir: 						"../sass" !default;
$images_dir: 					"../images" !default;
$js_dir: 						"../js" !default;
$fonts_dir: 					"../fonts" !default;


// ==========================================================================
// BRAND
// ==========================================================================

// LOGO
// ==========================================================================

$logo: 							"site-logo.png" !default;
$logo-width: 					200px !default;
$logo-height: 					80px !default;
$logo-retina: 					"site-logo--retina.png" !default;

// NAV
// ==========================================================================

$primary-nav-bg: 				#D8D8D8;


// LINKS
// ==========================================================================

$anchor-font-color: 			#08c !default;
$anchor-font-color-hover: 		darken($anchor-font-color, 5%) !default;





// ==========================================================================
// ICONS
// ==========================================================================

// Name of the default Icon font being used
$icon-font-family: "icomoon" !default;

// Include default Icon font character glyphs?
// if set to false then you should include a SASS partial which contains
// the glyph chars contained in your Icon font as defined in $icon-font-family
$include-icon-default-chars: true !default;


// ==========================================================================
// LAYOUT
// ==========================================================================

// SPACING
// ==========================================================================

$spacing-unit: rem-calc(30px) !default;
$half-spacing-unit: $spacing-unit/2 !default;
$double-spacing-unit: $spacing-unit*2 !default;


// NAV BREAKPOINTS
// determines the breakpoints for when the navigation adjusts it's layout
// ==========================================================================

$nav-break-1-val: rem-calc(600px) !default;
$nav-break-2-val: rem-calc(920px) !default;

$nav-break-1: "only screen and (min-width:#{$nav-break-1-val})";
$nav-break-2: "only screen and (min-width:#{$nav-break-2-val})";


// SITE CONTENT
// ==========================================================================

$site-content-padding-top: $spacing-unit;
$site-content-padding-bottom: $spacing-unit;




// ==========================================================================
// TYPOGRAPHY
// ==========================================================================

// HEADINGS
// ==========================================================================

$header-line-height: 1.2;

// ==========================================================================
// STACKING
// bird's eye view of components dependent on the z-axis
// ==========================================================================

$zindex-tier-1:        			1000 !default;
$zindex-tier-2:         		2000 !default;
$zindex-tier-3:         		3000 !default;
$zindex-tier-4:     			4000 !default;
$zindex-tier-5:   				5000 !default;
$zindex-tier-6:           		6000 !default;