// ==========================================================================
//
// PRIMARY NAVIGATION
//
// Description: styles for the primary website navigation.
// Positioning styles should not be applied in this file. Rather
// they should be applied in the main _page.scss file
//
// ==========================================================================


// ==========================================================================
// BASE
// styles to apply to all instances of primary navigation
// ==========================================================================

// ROOT
// ==========================================================================
.menu-primary {

}

// ANCHORS
// ==========================================================================

.nav-primary {
    @extend %bl-nav-menu;
    background-color: $primary-nav-bg;

	// Global anchors
	a {
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: none;
        }

        .lt-ie9 & {

        }
    }

	// Top level anchors
    > li > a {

    }
}




// ==========================================================================
// MODIFIER: BANNER
// navigation displayed for larger viewports
// ==========================================================================

// DEFAULTS
// ==========================================================================

.nav-primary--banner {
    @extend %bl-nav-menu;
    @extend %bl-nav-menu--stacked;

    // Throw into "inline" layout on larger viewports
    @media #{$medium-up} {
        @include bl-nav-menu--inline;
    }

    // Hide on small viewports when JS is enabled as offscreen nav is used
    @media #{$screen} and (max-width: #{upper-bound($small-range)}) {
        .js & {
            display: none;
        }
    }
}

.nav-primary--banner li:hover {
    .sub-menu {
        left: auto;
    }
}


.nav-primary--banner .sub-menu {
    display: none;
    @include dropdown-container($content: list, $triangle: false, $max-width: none);
    width: auto;

    @media #{$medium-up} {
        display: block;
    }

    li, a {
        white-space: nowrap;
    }
}




// ==========================================================================
// MODIFIER: OFF CANVAS
// styles for the primary navigational offcanvas
// panel. Extends and modifies styles for nav and search form
// ==========================================================================


// OFFCANVAS NAV
// ==========================================================================

.nav-primary--offcanvas {
    @extend %bl-nav-menu;
    @extend %bl-nav-menu--stacked;
}



