// ==========================================================================
//
// PRIMARY NAVIGATION
//
// Description: styles for the primary website navigation.
// Positioning styles should not be applied in this file. Rather
// they should be applied in the main _page.scss file
//
// ==========================================================================


// ==========================================================================
// BASE
// styles to apply to all instances of primary navigation
// ==========================================================================

// ROOT
// ==========================================================================
.menu-primary {

}

// ANCHORS
// ==========================================================================

.nav-primary {
    @extend %bl-nav-menu;

	// Global anchors
	a {
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: none;
        }

        .lt-ie9 & {

        }
    }

	// Top level anchors
    > li > a {

    }
}




// ==========================================================================
// MODIFIER: BANNER
// navigation displayed for larger viewports
// ==========================================================================

// DEFAULTS
// ==========================================================================

.nav-primary--banner {
    @extend %bl-nav-menu;
    @extend %bl-nav-menu--stacked;

    // Throw into "inline" layout on larger viewports
    @media #{$medium-up} {
        @include bl-nav-menu--inline;
    }

    // Hide on small viewports when JS is enabled as offscreen nav is used
    @media #{$screen} and (max-width: #{upper-bound($small-range)}) {
        .js & {
            display: none;
        }
    }
}




// ==========================================================================
// MODIFIER: OFF CANVAS
// styles for the primary navigational offcanvas
// panel. Extends and modifies styles for nav and search form
// ==========================================================================


// OFFCANVAS NAV
// ==========================================================================

.nav-primary--offcanvas {
    @extend %bl-nav-menu;
    @extend %bl-nav-menu--stacked;
}

// TOGGLE
// ==========================================================================

.nav-primary__toggle {
    @extend .hide-for-medium-up;
    position: absolute;
    top: rem-calc(22px);
    right: rem-calc(15px);
    z-index: $zindex-tier-4;

    .toggle__text {
        @extend .vh;
    }
}

