// ==========================================================================
//
// BYLINE
//
// Description: styles of subheader-like or "meta" content. Typically follows
// a primary header and provides ancillary information about the content
// that follows (eg: Blog category, posted by...etc)
//
// ==========================================================================


// ==========================================================================
// BASE
// ==========================================================================

.byline {
	@extend .subheader;
	margin-left: -1em;
	font-size: 0.9em;

	> * {
		font-size: 1em;
	}
}

.byline__section {
	margin-left: 1em;
}