// ==========================================================================
// LANDMARK
//
// Description: used to provide consistent margins between major components
// on a page/template.
// ==========================================================================

// ==========================================================================
// BASE
// ==========================================================================

%landmark,
.landmark {
	margin-bottom: $double-spacing-unit;
}

%landmark--minor,
.landmark--minor {
	margin-bottom: $spacing-unit;
}

%landmark--major,
.landmark--major {
	margin-bottom: $spacing-unit*3;
}


