---
layout: default
title: Contact Page
group: "navigation"
---

<div class="site-content">

		<main class="main">
			<div class="row landmark--minor">
				<div class="columns">
					<h1 class="page-title">Contact Us</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, a, ipsa, cum, ipsum esse praesentium architecto veritatis voluptates earum dolor optio quo sint porro consequuntur expedita delectus aspernatur provident quod.</p>
				</div>
			</div>

			<div class="row">
				<section class="columns medium-push-4 medium-8">
					<div class="panel">
						<h2 class="h4">Get in touch</h2>
						{% include contact-form.html %}
					</div>
				</section>

				<div class="columns medium-4 medium-pull-8">
					<aside class="landmark--minor">
						<h3 class="vh">Our Address</h3>
						<div class="address" itemscope="" itemtype="http://schema.org/Person">
							<strong class="address__line" itemprop="name">Company X</strong> 
							<div class="address__block" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
								<span class="address__line" itemprop="streetAddress">
									20341 Whitworth Institute 405 N. Whitworth
								</span>
								<span class="address__line" itemprop="addressLocality">
									Seattle
								</span>
								<span class="address__line" itemprop="addressRegion">WA</span>
								<span class="address__line" itemprop="postalCode">98052</span>
							</div>
							
							<span class="address__line" itemprop="telephone">
								<abbr class="address__abbr" title="Telephone">t:</abbr> (425) 123-4567
							</span>
							<a class="address__line" href="mailto:jane-doe@xyz.edu" itemprop="email">
								<abbr class="address__abbr" title="Email">e:</abbr>
								jane-doe@xyz.edu
							</a>
						</div>
					</aside>

					<aside class="panel">
						MAP HERE
					</aside>
				</div>
			</div>

		</main>

</div>




