<!DOCTYPE html>
<html class="no-js">
	<head>
		<script>
		// Super fast method of adding "js" class
		// http://www.456bereastreet.com/archive/201209/tell_css_that_javascript_is_available_asap/
		document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, '$1js$2');
		</script>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Home</title>

		<meta name="viewport" content="width=device-width" initial-scale="1" />

		<!-- Custom CSS -->
		<link rel="stylesheet" href="assets/css/app.css">

		<!-- Modernizr -->
		<script src="bower_components/modernizr/modernizr.js"></script>
		
		<script>
		    // Do not integrate this code into the CMS.
		    var tanlinellSiteDetails = {
		      templateDirectoryUri: ""
		    };
		  </script>
		

	</head>

	<body>

<div id="page">
<header class="banner  ">
	<div class="row">
		<div class="banner-brand">
    <a class="site-logo" href="/" title="" rel="home">
        <img src="/assets/images/site-logo.png" alt="" />
    </a>    
</div> 
		
		
		



		
		<div class="row collapse">
			
			<nav id="menu-primary" class="menu-primary menu-primary--banner">
				<ul class="nav-primary nav-primary--banner">

					  
					  
					  


  
    
      <li><a href="/blog-archive.html">Blog</a></li>
    
  

  

  
    
      <li class="active"><a href="/index.html" class="active">Home</a></li>
    
  

  

  




				</ul>
			</nav>
			<div class="medium-6 medium-offset-6 columns">
			<form method="get" class="site-search search-form" action="#" role="search">
	<div class="row collapse">
		<div class="small-10 columns">
			<label for="s" class="search-form__label hide">Search</label>
			<input type="search" class="search-form__query" name="s" value="" id="s" placeholder="Search the website...">
		</div>
		<div class="small-2 columns">
			<button type="submit" class="search-form__submit button postfix" name="submit" value="Search">Search</button>
		</div>
	</div>
</form>
			</div>
		</div>
	</div>
</header>


<div class="site-content layout-1c">
	<main class="main">

	<section class="row">
		<h1>Welcome!</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, id, sed optio ducimus ratione harum vero pariatur nostrum sapiente dolorum error quam molestias dicta minima quisquam porro hic consectetur in.</p>
	</section>

</main>

</div>





<aside class="row">
	<h5 class="vh">Social Media Accounts</h5>
	<ul class="social-icons-list">
	<li class="social-icons-list__item social-icons-list__item--facebook">
		<a href="#" class="social-icons-list__link">
			<i class="icon icon-facebook social-icon social-icon--facebook social-icons-list__icon" aria-hidden="true"></i>
			<span class="social-icons-list__name">Facebook</span>
		</a>
	</li>

	<li class="social-icons-list__item social-icons-list__item--instagram">
		<a href="#" class="social-icons-list__link">
			<i class="icon icon-instagram social-icon social-icon--instagram social-icons-list__icon" aria-hidden="true"></i>
			<span class="social-icons-list__name">Instagram</span>
		</a>
	</li>

	<li class="social-icons-list__item social-icons-list__item--vimeo">
		<a href="#" class="social-icons-list__link">
			<i class="icon icon-vimeo social-icon social-icon--vimeo social-icons-list__icon" aria-hidden="true"></i>
			<span class="social-icons-list__name">Vimeo</span>
		</a>
	</li>

	<li class="social-icons-list__item social-icons-list__item--linkedin">
		<a href="#" class="social-icons-list__link">
			<i class="icon icon-linkedin social-icon social-icon--linkedin social-icons-list__icon" aria-hidden="true"></i>
			<span class="social-icons-list__name">LinkedIn</span>
		</a>
	</li>

	<li class="social-icons-list__item social-icons-list__item--youtube">
		<a href="#" class="social-icons-list__link">
			<i class="icon icon-youtube social-icon social-icon--youtube social-icons-list__icon" aria-hidden="true"></i>
			<span class="social-icons-list__name">YouTube</span>
		</a>
	</li>

	<li class="social-icons-list__item social-icons-list__item--google-plus">
		<a href="#" class="social-icons-list__link">
			<i class="icon icon-google-plus social-icon social-icon--google-plus social-icons-list__icon" aria-hidden="true"></i>
			<span class="social-icons-list__name">Google+</span>
		</a>
	</li>
</ul>

</aside>

<footer id="colophon" class="site-footer clear" role="contentinfo">
	<div class="row">


		<p class="site-colophon site-colophon--copyright">
			Copyright &copy; 2014 Example Co. Ltd
		</p>

		<p class="site-colophon site-colophon--develop-credit">
			Designed &amp; Developed by <a class="site-credit site-credit--dark" target="_blank" href="http://burfieldcreative.co.uk" title="Digital Agency Bristol">Burfield<span class="vh"> - a Digital Agency in Bristol</span></a>
		</p>

	</div>
</footer>
</div>



		
		
		

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

		<script src="assets/js/site.min.js"></script>
		<!--
		<script type='text/javascript'>
		(function (d, t) {
		  var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
		  bh.type = 'text/javascript';
		  bh.src = '//www.bugherd.com/sidebarv2.js?apikey=njczhwfayvgpqonuldkfeg';
		  s.parentNode.insertBefore(bh, s);
		  })(document, 'script');
		</script>
		-->
	</body>
</html>




