<!DOCTYPE html>
<html class="no-js">
	<head>
		<script>
		// Super fast method of adding "js" class
		// http://www.456bereastreet.com/archive/201209/tell_css_that_javascript_is_available_asap/
		document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, '$1js$2');
		</script>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Home</title>

		<meta name="viewport" content="width=device-width" initial-scale="1" />

		<!-- Custom CSS -->
		<link rel="stylesheet" href="css/app.css">

		<!-- Modernizr -->
		<script src="js/modernizr.min.js"></script>
		
		<script>
		    // Do not integrate this code into the CMS.
		    var tanlinellSiteDetails = {
		      templateDirectoryUri: ""
		    };
		  </script>
		

	</head>

	<body>
		<div class="off-canvas-wrap" data-offcanvas>
 			<div class="inner-wrap">

<div id="page">
<header class="banner  ">
	<a href="#menu-primary" class="nav-primary__toggle right-off-canvas-toggle toggle toggle--menu toggle--closeable">
	<i class="toggle__icon" aria-hidden="true"></i>
	<span class="toggle__text">Skip to Primary Navigation</span> 
</a>

	<div class="row">
		<div class="medium-3 columns">
			<div class="banner-brand">
    <a class="site-logo" href="/" title="" rel="home">
        <img src="/images/site-logo.png" alt="" />
    </a>    
</div>
		</div>
		<nav id="menu-primary" class="menu-primary menu-primary--banner medium-9 columns">
			<div class="columns">
				<ul class="nav-primary nav-primary--banner">
					
					
					


  
    
      <li><a href="/blog-archive.html">Blog</a></li>
    
  

  

  
    
      <li class="active"><a href="/index.html" class="active">Home</a></li>
    
  

  

  



				</ul>
			</div>
		</nav>		
	</div>
</header>




<div class="site-content layout-1c">
	<div class="column-container">
	<main class="main">

		<h1>Welcome!</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, id, sed optio ducimus ratione harum vero pariatur nostrum sapiente dolorum error quam molestias dicta minima quisquam porro hic consectetur in.</p>

	</main>
</div>

</div>



<aside class="row">
	<div class="columns medium-7 medium-offset-5 medium-text-right">
		<h5 class="vh">Social Media Accounts</h5>
		<ul class="social-icons-list social-icons-list--no-text">
	<li class="social-icons-list__item social-icons-list__item--facebook">
		<a href="#" class="social-icons-list__link">
			<i class="icon icon-facebook social-icon social-icon--facebook social-icons-list__icon" aria-hidden="true"></i>
			<span class="social-icons-list__name">Facebook</span>
		</a>
	</li>

	<li class="social-icons-list__item social-icons-list__item--instagram">
		<a href="#" class="social-icons-list__link">
			<i class="icon icon-instagram social-icon social-icon--instagram social-icons-list__icon" aria-hidden="true"></i>
			<span class="social-icons-list__name">Instagram</span>
		</a>
	</li>

	<li class="social-icons-list__item social-icons-list__item--vimeo">
		<a href="#" class="social-icons-list__link">
			<i class="icon icon-vimeo social-icon social-icon--vimeo social-icons-list__icon" aria-hidden="true"></i>
			<span class="social-icons-list__name">Vimeo</span>
		</a>
	</li>

	<li class="social-icons-list__item social-icons-list__item--linkedin">
		<a href="#" class="social-icons-list__link">
			<i class="icon icon-linkedin social-icon social-icon--linkedin social-icons-list__icon" aria-hidden="true"></i>
			<span class="social-icons-list__name">LinkedIn</span>
		</a>
	</li>

	<li class="social-icons-list__item social-icons-list__item--youtube">
		<a href="#" class="social-icons-list__link">
			<i class="icon icon-youtube social-icon social-icon--youtube social-icons-list__icon" aria-hidden="true"></i>
			<span class="social-icons-list__name">YouTube</span>
		</a>
	</li>

	<li class="social-icons-list__item social-icons-list__item--google-plus">
		<a href="#" class="social-icons-list__link">
			<i class="icon icon-google-plus social-icon social-icon--google-plus social-icons-list__icon" aria-hidden="true"></i>
			<span class="social-icons-list__name">Google+</span>
		</a>
	</li>
</ul>

	</div>
</aside>

<footer id="colophon" class="site-footer clear" role="contentinfo">
	<div class="row">
		<p class="site-colophon site-colophon--copyright columns medium-6">
			Copyright &copy; 2014 Example Co. Ltd
		</p>

		<p class="site-colophon site-colophon--develop-credit columns medium-6 medium-text-right">
			Designed &amp; Developed by <a class="site-credit site-credit--dark" target="_blank" href="http://burfieldcreative.co.uk" title="Digital Agency Bristol">Burfield<span class="vh"> - a Digital Agency in Bristol</span></a>
		</p>

	</div>
</footer>
</div>



			

		    <aside class="primary-offcanvas right-off-canvas-menu">
	<!-- close the off-canvas menu -->
	<a class="primary-offcanvas__close exit-off-canvas toggle toggle--close">
		<i class="toggle__icon"></i>
		<span class="toggle__text">Close menu</span>
	</a>

	<div class="primary-offcanvas__panel">
		<form method="get" class="site-search search-form" action="#" role="search">
	<div class="row collapse">
		<div class="small-8 columns">
			<label for="s" class="search-form__label vh">Search</label>
			<input type="search" class="search-form__query mbn" name="s" value="" id="s" placeholder="Search...">
		</div>
		<div class="small-4 columns">
			<button type="submit" class="search-form__submit button postfix mbn" name="submit" value="Search">Search</button>
		</div>
	</div>
</form>
	</div>

	<nav class="menu-primary--offcanvas primary-offcanvas__panel">
		<ul class="nav-primary--offcanvas">
			
			
			


  
    
      <li><a href="/blog-archive.html">Blog</a></li>
    
  

  

  
    
      <li class="active"><a href="/index.html" class="active">Home</a></li>
    
  

  

  



		</ul>
	</nav>
</aside>

		
 			</div> <!-- /inner-wrap -->
		</div> <!-- /off-canvas-wrap -->

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="js/fastclick.min.js"></script>
		<script src="js/foundation.min.js"></script>
		<script src="js/app.js"></script>

		<!--<script src="assets/js/site.min.js"></script>-->
		<!--
		<script type='text/javascript'>
		(function (d, t) {
		  var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
		  bh.type = 'text/javascript';
		  bh.src = '//www.bugherd.com/sidebarv2.js?apikey=njczhwfayvgpqonuldkfeg';
		  s.parentNode.insertBefore(bh, s);
		  })(document, 'script');
		</script>
		-->
	</body>
</html>




