<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Job Single</title>

		<meta name="viewport" content="width=device-width" initial-scale="1" />

		<script>
		// Super fast method of adding "js" class
		// http://www.456bereastreet.com/archive/201209/tell_css_that_javascript_is_available_asap/
		document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, '$1js$2');
		</script>

		<!-- Custom CSS -->
		<link rel="stylesheet" href="assets/css/site.css">


		<!-- CSS -->
		<!--[if (gt IE 8) | (IEMobile)]><!-->
		<link rel="stylesheet" href="assets/css/site.css">
		<!--<![endif]-->


		<!--[if (lt IE 9) & (!IEMobile)]>
		<link rel="stylesheet" href="assets/css/site-oldie.css">
		<![endif]-->

		<!-- Modernizr -->
		<script src="assets/js/dist/vendor/modernizr.min.js"></script>


		<script>
		    // Do not integrate this code into the CMS.
		    var tanlinellSiteDetails = {
		      templateDirectoryUri: ""
		    };
		  </script>


	</head>

	<body>
		<div class="off-canvas-wrap" data-offcanvas>
 			<div class="inner-wrap">

<div id="page">
<header class="banner  ">
	<a href="#menu-primary" class="primary-offcanvas__toggle right-off-canvas-toggle toggle toggle--menu toggle--closeable">
	<i class="toggle__icon" aria-hidden="true"></i>
	<span class="toggle__text">Skip to Primary Navigation</span> 
</a>

	<div class="row row--ib">
		<div class="banner__brand large-3 columns">
			<a class="site-logo" href="/" title="" rel="home">
    <img src="/assets/images/site-logo.png" alt="" />
</a>    

		</div>
		<nav id="menu-primary" class="banner__navigation menu-primary menu-primary--banner large-9 columns">
			<ul class="nav-primary nav-primary--banner">
			




  
    
      <li><a href="/blog-archive.html">Blog</a></li>
    
  

  

  
    
      <li><a href="/contact.html">Contact</a></li>
    
  

  

  
    
      <li><a href="/index.html">Home</a></li>
    
  

  

  
    
      <li><a href="/jobs.html">Jobs</a></li>
    
  

  

  



			</ul>
		</nav>
	</div>
</header>




<div class="site-content layout-2c-r">
	<div class="column-container">
		<div class="site-content">
	<main class="main">

		<header>
			<h1 class="page-title">Job Title</h1>
		</header>

		<footer class="byline">
			<dl class="inline-definitions inline-definitions--desc-priority">
				<dt>Role Type:</dt>
				<dd>Permenant</dd>

				<dt>Salary:</dt>
				<dd>£1,000/month</dd>

				<dt>Closing date:</dt>
				<dd>29/10/2014</dd>
			</dl>
		</footer>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, a, ipsa, cum, ipsum esse praesentium architecto veritatis voluptates earum dolor optio quo sint porro consequuntur expedita delectus aspernatur provident quod.</p>


		<h2 class="h5 h-heavy">Key Skills Required:</h2>

		<ul class="disc">
			
			<li>Key Skill 1</li>
		  	
			<li>Key Skill 2</li>
		  	
			<li>Key Skill 3</li>
		  	
			<li>Key Skill 4</li>
		  	
			<li>Key Skill 5</li>
		  	
			<li>Key Skill 6</li>
		  	
		 </ul>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, a, ipsa, cum, ipsum esse praesentium architecto veritatis voluptates earum dolor optio quo sint porro consequuntur expedita delectus aspernatur provident quod.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, a, ipsa, cum, ipsum esse praesentium architecto veritatis voluptates earum dolor optio quo sint porro consequuntur expedita delectus aspernatur provident quod.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, a, ipsa, cum, ipsum esse praesentium architecto veritatis voluptates earum dolor optio quo sint porro consequuntur expedita delectus aspernatur provident quod.</p>
		
		<section class="panel">
			<h3>Job Application Form</h3>
			<div class="row">
			<form data-abide>
    <div class="row">
        <div class="large-6 columns">
            <label>Firstname <abbr title="Required field" class="required">*</abbr>
                <input type="text" required placeholder="John">
            </label>
        </div>

        <div class="large-6 columns">
            <label>Lastname <abbr title="Required field" class="required">*</abbr>
                <input type="text" placeholder="Doe">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <label>Email <abbr title="Required field" class="required">*</abbr>
                <input type="email" required placeholder="jon@example.com">
            </label>
            <small class="error">Email addresses must be in the correct format</small>
        </div>

        <div class="large-6 columns">
            <label>Telephone <input type="number"></label>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns landmark--minor">
            <label>About You <abbr title="Required field" class="required">*</abbr>
                <textarea rows="8" required placeholder="Your covering letter content..."></textarea>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns landmark--minor">
            <label>Upload your CV <abbr title="Required field" class="required">*</abbr>
                <input type="file" required placeholder="jon@example.com">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <button class="button small" type="submit">Send Application</button>
        </div>
    </div>
</form>
			</div>
		</section>


	</main>



	<div class="sub">
		<div class="panel">
			<h4>Other Jobs</h4>
			<ul class="block-list">
				
			 	<li><a href="#">Job 1</a></li>
			 	
			 	<li><a href="#">Job 2</a></li>
			 	
			 	<li><a href="#">Job 3</a></li>
			 	
			 	<li><a href="#">Job 4</a></li>
			 	
			 	<li><a href="#">Job 5</a></li>
			 	
			 	<li><a href="#">Job 6</a></li>
			 	
			 	<li><a href="#">Job 7</a></li>
			 	
			 	<li><a href="#">Job 8</a></li>
			 	
			 	<li><a href="#">Job 9</a></li>
			 	
			 	<li><a href="#">Job 10</a></li>
			 	
			</ul>
		</div>
	</div>
</div>



	</div>
</div>





<aside class="row">
	<div class="columns medium-7 medium-offset-5 medium-text-right">
		<h5 class="vh">Social Media Accounts</h5>
		<ul class="social-icons-list social-icons-list--no-text">
	<li class="social-icons-list__item social-icons-list__item--facebook">
		<a href="#" class="social-icons-list__link">
			<i class="icon icon-facebook social-icon social-icon--facebook social-icons-list__icon" aria-hidden="true"></i>
			<span class="social-icons-list__name">Facebook</span>
		</a>
	</li>

	<li class="social-icons-list__item social-icons-list__item--instagram">
		<a href="#" class="social-icons-list__link">
			<i class="icon icon-instagram social-icon social-icon--instagram social-icons-list__icon" aria-hidden="true"></i>
			<span class="social-icons-list__name">Instagram</span>
		</a>
	</li>

	<li class="social-icons-list__item social-icons-list__item--vimeo">
		<a href="#" class="social-icons-list__link">
			<i class="icon icon-vimeo social-icon social-icon--vimeo social-icons-list__icon" aria-hidden="true"></i>
			<span class="social-icons-list__name">Vimeo</span>
		</a>
	</li>

	<li class="social-icons-list__item social-icons-list__item--linkedin">
		<a href="#" class="social-icons-list__link">
			<i class="icon icon-linkedin social-icon social-icon--linkedin social-icons-list__icon" aria-hidden="true"></i>
			<span class="social-icons-list__name">LinkedIn</span>
		</a>
	</li>

	<li class="social-icons-list__item social-icons-list__item--youtube">
		<a href="#" class="social-icons-list__link">
			<i class="icon icon-youtube social-icon social-icon--youtube social-icons-list__icon" aria-hidden="true"></i>
			<span class="social-icons-list__name">YouTube</span>
		</a>
	</li>

	<li class="social-icons-list__item social-icons-list__item--google-plus">
		<a href="#" class="social-icons-list__link">
			<i class="icon icon-google-plus social-icon social-icon--google-plus social-icons-list__icon" aria-hidden="true"></i>
			<span class="social-icons-list__name">Google+</span>
		</a>
	</li>
</ul>

	</div>
</aside>

<footer id="colophon" class="site-footer clear" role="contentinfo">
	<div class="row">
		<p class="site-colophon site-colophon--copyright columns medium-6">
			Copyright &copy; 2014 Example Co. Ltd
		</p>

		<p class="site-colophon site-colophon--develop-credit columns medium-6 medium-text-right">
			Designed &amp; Developed by <a class="site-credit site-credit--dark" target="_blank" href="http://burfieldcreative.co.uk" title="Digital Agency Bristol">Burfield<span class="vh"> - a Digital Agency in Bristol</span></a>
		</p>

	</div>
</footer>
</div>





		    <aside class="primary-offcanvas right-off-canvas-menu">
	<!-- close the off-canvas menu -->
	<a class="primary-offcanvas__close exit-off-canvas toggle toggle--close">
		<i class="toggle__icon"></i>
		<span class="toggle__text">Close menu</span>
	</a>

	<div class="primary-offcanvas__panel">
		<form method="get" class="site-search search-form" action="#" role="search">
	<div class="row collapse">
		<div class="small-8 columns">
			<label for="s" class="search-form__label vh">Search</label>
			<input type="search" class="search-form__query mbn" name="s" value="" id="s" placeholder="Search...">
		</div>
		<div class="small-4 columns">
			<button type="submit" class="search-form__submit button postfix radius mbn" name="submit" value="Search">Search</button>
		</div>
	</div>
</form>
	</div>

	<nav class="menu-primary--offcanvas primary-offcanvas__panel">
		<ul class="nav-primary--offcanvas">
		




  
    
      <li><a href="/blog-archive.html">Blog</a></li>
    
  

  

  
    
      <li><a href="/contact.html">Contact</a></li>
    
  

  

  
    
      <li><a href="/index.html">Home</a></li>
    
  

  

  
    
      <li><a href="/jobs.html">Jobs</a></li>
    
  

  

  



		</ul>
	</nav>
</aside>


 			</div> <!-- /inner-wrap -->
		</div> <!-- /off-canvas-wrap -->


		<!--[if (gt IE 8) | (IEMobile)]><!-->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<!--<![endif]-->


		<!--[if (gte IE 6)&(lte IE 8)]>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
		<script type="text/javascript" src="assets/js/dist/vendor/selectivizr.js"></script>
		<![endif]-->

		<script src="assets/js/dist/vendor/foundation.min.js"></script>
		<script src="assets/js/dist/baselayer.min.js"></script>
		<script src="assets/js/dist/site.min.js"></script>

		<!--
		<script type='text/javascript'>
		(function (d, t) {
		  var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
		  bh.type = 'text/javascript';
		  bh.src = '//www.bugherd.com/sidebarv2.js?apikey=njczhwfayvgpqonuldkfeg';
		  s.parentNode.insertBefore(bh, s);
		  })(document, 'script');
		</script>
		-->
	</body>
</html>




