<header class="banner {{ include.classnames }} ">
	{% include primary-nav-toggle.html %}

	<div class="row">
		<div class="medium-3 columns">
			{% include logo.html %}
		</div>
		<nav id="menu-primary" class="menu-primary menu-primary--banner medium-9 columns">
			<div class="columns">
				<ul class="nav-primary nav-primary--banner">
					{% assign pages_list = site.pages %}
					{% assign group = 'navigation' %}
					{% include pages_list.html %}
				</ul>
			</div>
		</nav>		
	</div>
</header>



