<form method="get" class="site-search search-form" action="#" role="search">
	<div class="row collapse">
		<div class="small-9 medium-8 columns">
			<label for="s" class="search-form__label vh">Search</label>
			<input type="search" class="search-form__query" name="s" value="" id="s" placeholder="Search the website...">
		</div>
		<div class="small-3 medium-4 columns">
			<button type="submit" class="search-form__submit button postfix" name="submit" value="Search">Search</button>
		</div>
	</div>
</form>