// ==========================================================================
// BASELAYER SETTINGS
//
// Description: settings for the baselayer framework
// ==========================================================================


// ==========================================================================
// HACKS & OVERIDES
// ==========================================================================

// This is a flag which is set to "true" by master-ie.scss
// This allows us to target specifically IE within Sass files
$is-oldie: 						false !default;

// Highlights any potential markup/accessibility problems
$debug-mode:					false !default;


// ==========================================================================
// ASSET PATHS
// ==========================================================================

$css_dir: 						"../css" !default;
$sass_dir: 						"../sass" !default;
$images_dir: 					"../images" !default;
$js_dir: 						"../js" !default;
$fonts_dir: 					"../fonts" !default;


// ==========================================================================
// BRAND
// ==========================================================================

// LOGO
// ==========================================================================

$logo: 							"site-logo.png" !default;
$logo-width: 					200px !default;
$logo-height: 					80px !default;
$logo-retina: 					"site-logo--retina.png" !default;



// ==========================================================================
// ICONS
// ==========================================================================

// Name of the default Icon font being used
$icon-font-family: "icomoon" !default;

// Include default Icon font character glyphs?
// if set to false then you should include a SASS partial which contains
// the glyph chars contained in your Icon font as defined in $icon-font-family
$include-icon-default-chars: true;


// ==========================================================================
// LAYOUT
// ==========================================================================

// NAV BREAKPOINTS
// determines the breakpoints for when the navigation adjusts it's layout
// ==========================================================================

$nav-break-1-val: rem-calc(600px);
$nav-break-2-val: rem-calc(920px);

$nav-break-1: "#{$screen} and (min-width:#{$nav-break-1-val})";
$nav-break-2: "#{$screen} and (min-width:#{$nav-break-2-val})";

// SPACING
// ==========================================================================

$spacing-unit: rem-calc(30px);
$half-spacing-unit: $spacing-unit/2;
$double-spacing-unit: $spacing-unit*2;

// ==========================================================================
// STACKING
// bird's eye view of components dependent on the z-axis
// ==========================================================================

$zindex-tier-1:        			1000 !default;
$zindex-tier-2:         		2000 !default;
$zindex-tier-3:         		3000 !default;
$zindex-tier-4:     			4000 !default;
$zindex-tier-5:   				5000 !default;
$zindex-tier-6:           		6000 !default;